.base_video{
    position: relative;
    .video_info {
        position: absolute;
        height: 20px;
        width: 100%;
        background: rgba(0,0,0,0.6);
        color: #fff;
        bottom:0;
    }
}