@import "../../assets/style/minix.scss";
#main {
    @include cover();
    display: flex;
    flex-direction: row;
    .main_left {
        flex: 1;
        .CodeMirror{
            @include cover();
        }
    }
    .main_right{
        width: 200px;
        display: flex;
        flex-direction: column;
        .right_top{
            flex: 1;
        }
        .right_bottom{
            height: 300px;
            width: 100%;
            border-top: 1px solid teal;
            display: flex;
            flex-direction: column;
        }
    }
}