.commication_item{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 5px 0;
    overflow-y: auto;
    padding:0 10px;
    box-sizing: border-box;
    .date{
        font-size: 12px;
        opacity: 0.4;
    }
}
.commication_item.me {
    align-items: flex-end;
}